<div class='mega-result-container'>
    <div class='header_jp'>
        <div class='header_jp_h1'>
            <h1>Xổ số Mega 6/45</h1>
        </div>
    </div>

    <div class='jackpot-estimate'>
        <div class='jackpot-title'>KẾT QUẢ JACKPOT ƯỚC TÍNH</div>
        <div class='jackpot-value-box'>
            <span class='jackpot-value'>{{get result.jackpot 0}}</span>
        </div>
    </div>

    <div class='next-draw-info'>
        <span class='next-draw-date'>{{get result.para_open_next 0}}</span>
    </div>

    <div class='breadcrumb'>
        <a href='#'>XS Mega</a>
        »
        <a href='#'>XS Mega Thứ Tư</a>
        »
        <a href='#'>XS Mega {{result.date}}</a>
    </div>

    <div class='draw-details'>
        {{get result.para_text_black_bold 0}}
    </div>

    <div class='winning-numbers'>
        <div class='number-ball'>{{get result.number_ball 0}}</div>
        <div class='number-ball'>{{get result.number_ball 1}}</div>
        <div class='number-ball'>{{get result.number_ball 2}}</div>
        <div class='number-ball'>{{get result.number_ball 3}}</div>
        <div class='number-ball'>{{get result.number_ball 4}}</div>
        <div class='number-ball'>{{get result.number_ball 5}}</div>

    </div>
    <p class='note'>
        Các con số dự thưởng phải trùng với số kết quả nhưng không cần theo đúng
        thứ tự
    </p>

    <table class='prize-table'>
        <thead>
            <tr>
                <th>Giải thưởng</th>
                <th>Trùng khớp</th>
                <th>Số lượng giải</th>
                <th>Giá trị giải (đ)</th>
            </tr>
        </thead>
        <tbody>
            <tr class='jackpot-row'>
                <td>Jackpot</td>
                <td>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                </td>
                <td>{{get result.text_right 0}}</td>
                <td>{{get result.text_right 1}}</td>
            </tr>
            <tr>
                <td>Giải 1</td>
                <td>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                </td>
                <td>{{get result.text_right 2}}</td>
                <td>{{get result.text_right 3}}</td>
            </tr>
            <tr>
                <td>Giải 2</td>
                <td>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                </td>
                <td>{{get result.text_right 4}}</td>
                <td>{{get result.text_right 5}}</td>
            </tr>
            <tr>
                <td>Giải 3</td>
                <td>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                </td>
                <td>{{get result.text_right 6}}</td>
                <td>{{get result.text_right 7}}</td>
            </tr>
        </tbody>
    </table>

    <ul class='stats-links'>
        <li><a href='#'>Xem thống kê
                <span class='link-highlight'>Lần xuất hiện xổ số Mega</span></a></li>
        <li><a href='#'>Xem thống kê
                <span class='link-highlight'>Theo thứ XS Mega</span></a></li>
    </ul>

    <p class='footer-note'>
        Kết quả xổ số
        <span class='link-highlight'>Mega</span>
        mở thưởng vào các ngày thứ 4/6/CN hàng tuần lúc 18h30
    </p>
</div>

{{! jackpot2 }}
<div class='mega-result-container'>
    <div class='header_jp'>
        <div class='header_jp_h1'>
            <h1>Xổ Số Power 6/55</h1>
        </div>
    </div>

    <div class='jackpot-estimate'>
        <div class='jackpot-title'>KẾT QUẢ JACKPOT ƯỚC TÍNH</div>
        <div class='jackpot-value-box'>
            <span class='jackpot-value'>{{get result.jackpot 1}}</span>
            <hr />
            <span class='jackpot-value'>{{get result.jackpot 2}}</span>
        </div>
    </div>

    <div class='next-draw-info'>
        <span class='next-draw-date'>{{get result.para_open_next 1}}</span>
    </div>

    <div class='breadcrumb'>
        <a href='#'>XS Mega</a>
        »
        <a href='#'>XS Mega Thứ Tư</a>
        »
        <a href='#'>XS Mega {{result.date}}</a>
    </div>

    <div class='draw-details'>
        {{get result.para_text_black_bold 1}}
    </div>

    <div class='winning-numbers'>
        <div class='number-ball'>{{get result.number_ball 0}}</div>
        <div class='number-ball'>{{get result.number_ball 1}}</div>
        <div class='number-ball'>{{get result.number_ball 2}}</div>
        <div class='number-ball'>{{get result.number_ball 3}}</div>
        <div class='number-ball'>{{get result.number_ball 4}}</div>
        <div class='number-ball'>{{get result.number_ball 5}}</div>

    </div>
    <p class='note'>
        Các con số dự thưởng phải trùng với số kết quả nhưng không cần theo đúng
        thứ tự
    </p>

    <table class='prize-table'>
        <thead>
            <tr>
                <th>Giải thưởng</th>
                <th>Trùng khớp</th>
                <th>Số lượng giải</th>
                <th>Giá trị giải (đ)</th>
            </tr>
        </thead>
        <tbody>
            <tr class='jackpot-row'>
                <td>Jackpot</td>
                <td>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                </td>
                <td>{{get result.text_right 8}}</td>
                <td>{{get result.text_right 9}}</td>
            </tr>
            <tr>
                <td>Giải 1</td>
                <td>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                </td>
                <td>{{get result.text_right 10}}</td>
                <td>{{get result.text_right 11}}</td>
            </tr>
            <tr>
                <td>Giải 2</td>
                <td>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                </td>
                <td>{{get result.text_right 12}}</td>
                <td>{{get result.text_right 13}}</td>
            </tr>
            <tr>
                <td>Giải 3</td>
                <td>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                    <span class='match-dot'></span>
                </td>
                <td>{{get result.text_right 14}}</td>
                <td>{{get result.text_right 15}}</td>
            </tr>
        </tbody>
    </table>

    <ul class='stats-links'>
        <li><a href='#'>Xem thống kê
                <span class='link-highlight'>Lần xuất hiện xổ số Mega</span></a></li>
        <li><a href='#'>Xem thống kê
                <span class='link-highlight'>Theo thứ XS Mega</span></a></li>
    </ul>

    <p class='footer-note'>
        Kết quả xổ số
        <span class='link-highlight'>Mega</span>
        mở thưởng vào các ngày thứ 4/6/CN hàng tuần lúc 18h30
    </p>
</div>