    <div class='max3d'>
    <div class='max3d-title'>
        <h4>Xổ số max 3d</h4>
        </div>
    <div class='breadcrumb3d'>
       <td><p>{{get result.titlemax3d 0}}</p></td>
    </div>
        <div class='breadcrumb13d'>
       <p>XS Max 3D >> Max 3D thứ Hai >> Max 3D {{result.date}}<p>
    </div>
    <table class='xs-table3d'>
<tbody>
            <tr class='prize-row'>
                <td class='label-col'>G1</td>
                <td style='font-size:30px;color:black;font-weight:bold;'>
                {{get result.max3dg1 0}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg1 1}}</td>

            </tr>
            <tr class='prize-row'>
                <td class='label-col'>G.2</td>
                <td style='font-size:30px;color:black;font-weight:bold;'>
                    {{get result.max3dg24 0}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg24 1}} &nbsp; &nbsp; &nbsp; &nbsp;
                    {{get result.max3dg24 2}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg24 3}}
                </td>
            </tr>

            <tr class='prize-row'>
                <td class='label-col'>G.3</td>
                <td style='font-size:30px;color:black;font-weight:bold;'>
                    {{get result.max3dg24 15}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg3 16}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg3 17}}<br>
                    {{get result.max3dg3 18}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg3 19}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg3 20}}</td>
            </tr>
            <tr class='prize-row'>
                <td class='label-col'>KK</td>
                <td style='font-size:30px;color:black;font-weight:bold;'>
                    {{get result.max3dg24 4}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg24 5}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg24 6}} &nbsp; &nbsp; &nbsp; &nbsp;{{get result.max3dg24 7}}<br>
                    {{get result.max3dg24 8}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg24 9}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg24 10}} &nbsp; &nbsp; &nbsp; &nbsp;{{get result.max3dg24 11}}</td>
            </tr>
        </tbody>
    </table>
</div>



{{!-- pro --}}
    <div class='max3d'>
    <div class='max3d-title'>
        <h4>Xổ số max 3D Pro</h4>
        </div>
    <div class='breadcrumb3d'>
       <td><p>{{get result.titlemax3d 1}}</p></td>
    </div>
        <div class='breadcrumb13d'>
       <p>XS Max 3D >> Max 3D thứ Hai >> Max 3D {{result.date}}<p>
    </div>
    <table class='xs-table3d'>
<tbody>
            <tr class='prize-row'>
                <td class='label-col'>Đ.B</td>
                <td style='font-size:30px;color:black;font-weight:bold;'>
                {{get result.max3dg1 0}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg1 1}}</td>

            </tr>
            <tr class='prize-row'>
                <td class='label-col'>G.1</td>
                <td style='font-size:30px;color:black;font-weight:bold;'>
                    {{get result.max3dg24 0}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg24 1}} &nbsp; &nbsp; &nbsp; &nbsp;
                    {{get result.max3dg24 2}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg24 3}}
                </td>
            </tr>

            <tr class='prize-row'>
                <td class='label-col'>G.2</td>
                <td style='font-size:30px;color:black;font-weight:bold;'>
                    {{get result.max3dg24 15}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg3 16}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg3 17}}<br>
                    {{get result.max3dg3 18}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg3 19}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg3 20}}</td>
            </tr>
            <tr class='prize-row'>
                <td class='label-col'>KK</td>
                <td style='font-size:30px;color:black;font-weight:bold;'>
                    {{get result.max3dg24 4}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg24 5}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg24 6}} &nbsp; &nbsp; &nbsp; &nbsp;{{get result.max3dg24 7}}<br>
                    {{get result.max3dg24 8}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg24 9}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg24 10}} &nbsp; &nbsp; &nbsp; &nbsp;{{get result.max3dg24 11}}</td>
            </tr>
        </tbody>
    </table>
</div>