{{! xổ số miền nam }}
<div class='container_xsmn'>
    <div class='header-banner_xsmn'>
        <span class='header-logo_xsmn'>KQXSMN - Xổ Số Miền Nam</span>
    </div>

    <div class='sub-header_xsmn'>
        <span class='sub-header-item aAGive'>XSMN</span>
        <span class='sub-header-separator'>»</span>
        <span class='sub-header-item'>XSMN Thứ 5</span>
        <span class='sub-header-separator'>»</span>
        <span class='sub-header-item'>XSMN {{result.date}}</span>
    </div>

    <table class='results_table_xsmn'>
        <thead>
            <tr class='table-header-row'>
                <th class='col_giai'>Giải</th>
                <th class='col_tinh'>Tây Ninh</th>
                <th class='col_tinh'>An Giang</th>
                <th class='col_tinh'>Bình Thuận</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class='col-giai'>G.8</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G8TN}}</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G8AG}}</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G8BTH}}</td>
            </tr>
            <tr>
                <td class='col-giai'>G.7</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G7TN}}</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G7AG}}</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G7BTH}}</td>
            </tr>
            <tr>
                <td class='col-giai'>G.6</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>
                    {{get result.G6TN 0}} <br>
                    {{get result.G6TN 1}} <br>
                    {{get result.G6TN 2}}
                    </td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>
                    {{get result.G6AG 0}} <br>
                    {{get result.G6AG 1}} <br>
                    {{get result.G6AG 2}} 
                    </td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>
                    {{get result.G6BTH 0}} <br>
                    {{get result.G6BTH 1}} <br>
                    {{get result.G6BTH 2}} 
                    </td>
            </tr>
            <tr>
                <td class='col-giai'>G.5</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G5TN}}</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G5AG}}</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G5BTH}}</td>
            </tr>
            <tr>
                <td class='col-giai'>G.4</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>
                    {{get result.G4TN 0}} <br>
                    {{get result.G4TN 1}} <br>
                    {{get result.G4TN 2}} <br>
                    {{get result.G4TN 3}} <br>
                    {{get result.G4TN 4}} <br>
                    {{get result.G4TN 5}} <br>
                    {{get result.G4TN 6}} <br>
                    {{get result.G4TN 7}} 
                    </td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>
                    {{get result.G4AG 0}} <br>
                    {{get result.G4AG 1}} <br>
                    {{get result.G4AG 2}} <br>
                    {{get result.G4AG 3}} <br>
                    {{get result.G4AG 4}} <br>
                    {{get result.G4AG 5}} <br>
                    {{get result.G4AG 6}} <br>
                    {{get result.G4AG 7}} 
                    </td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>
                    {{get result.G4BTH 0}} <br>
                    {{get result.G4BTH 1}} <br>
                    {{get result.G4BTH 2}} <br>
                    {{get result.G4BTH 3}} <br>
                    {{get result.G4BTH 4}} <br>
                    {{get result.G4BTH 5}} <br>
                    {{get result.G4BTH 6}} <br>
                    {{get result.G4BTH 7}} 
                    </td>
            </tr>
            <tr>
                <td class='col-giai'>G.3</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>
                    {{get result.G3TN 0}} <br>
                    {{get result.G3TN 1}} 
                </td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>
                    {{get result.G3AG 0}} <br>
                    {{get result.G3AG 1}} 
                </td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>
                    {{get result.G3BTH 0}} <br>
                    {{get result.G3BTH 1}} 
                </td>
            </tr>
            <tr>
                <td class='col-giai'>G.2</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G2TN}}</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G2AG}}</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G2BTH}}</td>
            </tr>
            <tr>
                <td class='col-giai'>G.1</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G2TN}}</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G1AG}}</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G1BTH}}</td>
            </tr>
            <tr>
                <td class='col-giai'>G.ĐB</td>
                <td
                    class='col_tinh_ket-qua_xsmn giai-dac-biet'
                    style='font-size:36px;color:#d32f2f;font-weight:bold;'
                >{{result.GDBTN}}</td>
                <td
                    class='col_tinh_ket-qua_xsmn giai-dac-biet'
                    style='font-size:36px;color:#d32f2f;font-weight:bold;'
                >{{result.GDBAG}}</td>
                <td
                    class='col_tinh_ket-qua_xsmn giai-dac-biet'
                    style='font-size:36px;color:#d32f2f;font-weight:bold;'
                >{{result.GDBBTH}}</td>
            </tr>
        </tbody>
    </table>
</div>

{{! LT }}
<div class='loto_container_mn'>
    <div class='loto_container_mn_tn'>
        <div class='loto_container_mn_tn_'>
            <p>Lô tô Hồ Chí Minh ngày {{result.date}}<p>
        </div>
        <table>
            <thead>
                <tr>
                    <th class='header-dau_mn'>Đầu</th>
                    <th class='header-loto_mn'>Lô tô</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>{{result.LT0TN}}</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>{{result.LT1TN}}</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{result.LT2TN}}</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{result.LT3TN}}</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{result.LT4TN}}</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>{{result.LT5TN}}</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>{{result.LT6TN}}</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>{{result.LT7TN}}</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>{{result.LT8TN}}</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>{{result.LT9TN}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class='loto_container_mn_tn'>
        <div class='loto_container_mn_tn_'>
            <p>Lô tô Đồng Tháp ngày {{result.date}}<p>
        </div>
        <table>
            <thead>
                <tr>
                    <th class='header-dau_mn'>Đầu</th>
                    <th class='header-loto_mn'>Lô tô</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>{{result.LT0AG}}</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>{{result.LT1AG}}</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{result.LT2AG}}</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{result.LT3AG}}</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{result.LT4AG}}</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>{{result.LT5AG}}</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>{{result.LT6AG}}</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>{{result.LT7AG}}</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>{{result.LT8AG}}</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>{{result.LT9AG}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class='loto_container_mn_tn'>
        <div class='loto_container_mn_tn_'>
            <p>Lô tô Cà Mau ngày {{result.date}}<p>
        </div>
        <table>
            <thead>
                <tr>
                    <th class='header-dau_mn'>Đầu</th>
                    <th class='header-loto_mn'>Lô tô</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>{{result.LT0BTH}}</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>{{result.LT1BTH}}</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{result.LT2BTH}}</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{result.LT3BTH}}</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>{{result.LT4BTH}}</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>{{result.LT5BTH}}</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>{{result.LT6BTH}}</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>{{result.LT7BTH}}</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>{{result.LT8BTH}}</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{result.LT9BTH}}</td>
                </tr>
            </tbody>
        </table>
        <ul class='footer-links'>
            <li>Xem thống kê <a href='#'>Loto gan miền Nam</a></li>
            <li>Xem thống kê <a href='#'>Cặp loto cùng về miền Nam</a></li>
            <li>Tham khảo <a href='#'>Thống kê XSMN</a></li>
            <li>**KQXS** miền Nam
                {{result.date}}
                siêu tốc - chính xác, trực tiếp
                <a href='#'>**XSMN**</a>
                lúc 18h15 mỗi ngày</li>
        </ul>
    </div>
</div>