{{! xổ số miền  }}
<div class='container_xsmn'>
    <div class='header-banner_xsmn'>
        <span class='header-logo_xsmn'>KQXSMN - Xổ Số Miền Trung</span>
    </div>

    <div class='sub-header_xsmn'>
        <span class='sub-header-item active'>XSMT</span>
        <span class='sub-header-separator'>»</span>
        <span class='sub-header-item'>XSMT ngày {{result.date}}</span>
        <span class='sub-header-separator'>»</span>
        <span class='sub-header-item'>XSMT {{result.date}}</span>
    </div>

    <table class='results_table_xsmn'>
        <thead>
            <tr class='table-header-row'>
                <th class='col_giai'>Giải</th>
                <th class='col_tinh'>Khánh Hòa</th>
                <th class='col_tinh'>Kom Tum</th>
                <th class='col_tinh'>Huế</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class='col-giai'>G.8</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G8KH}}</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G8KT}}</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G8TTH}}</td>
            </tr>
            <tr>
                <td class='col-giai'>G.7</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G7KH}}</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G7KT}}</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G7TTH}}</td>
            </tr>
            <tr>
                <td class='col-giai'>G.6</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>
                    {{get result.G6KH 0}} <br>
                    {{get result.G6KH 1}} <br>
                    {{get result.G6KH 2}}
                    </td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>
                    {{get result.G6KT 0}} <br>
                    {{get result.G6KT 1}} <br>
                    {{get result.G6KT 2}} 
                    </td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>
                    {{get result.G6TTH 0}} <br>
                    {{get result.G6TTH 1}} <br>
                    {{get result.G6TTH 2}} 
                    </td>
            </tr>
            <tr>
                <td class='col-giai'>G.5</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G5KH}}</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G5KT}}</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G5TTH}}</td>
            </tr>
            <tr>
                <td class='col-giai'>G.4</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>
                    {{get result.G4KH 0}} <br>
                    {{get result.G4KH 1}} <br>
                    {{get result.G4KH 2}} <br>
                    {{get result.G4KH 3}} <br>
                    {{get result.G4KH 4}} <br>
                    {{get result.G4KH 5}} <br>
                    {{get result.G4KH 6}} <br>
                    {{get result.G4KH 7}} 
                    </td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>
                    {{get result.G4KT 0}} <br>
                    {{get result.G4KT 1}} <br>
                    {{get result.G4KT 2}} <br>
                    {{get result.G4KT 3}} <br>
                    {{get result.G4KT 4}} <br>
                    {{get result.G4KT 5}} <br>
                    {{get result.G4KT 6}} <br>
                    {{get result.G4KT 7}} 
                    </td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>
                    {{get result.G4TTH 0}} <br>
                    {{get result.G4TTH 1}} <br>
                    {{get result.G4TTH 2}} <br>
                    {{get result.G4TTH 3}} <br>
                    {{get result.G4TTH 4}} <br>
                    {{get result.G4TTH 5}} <br>
                    {{get result.G4TTH 6}} <br>
                    {{get result.G4TTH 7}} 
                    </td>
            </tr>
            <tr>
                <td class='col-giai'>G.3</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>
                    {{get result.G3KH 0}} <br>
                    {{get result.G3KH 1}} 
                </td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>
                    {{get result.G3KT 0}} <br>
                    {{get result.G3KT 1}} 
                </td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>
                    {{get result.G3TTH 0}} <br>
                    {{get result.G3TTH 1}} 
                </td>
            </tr>
            <tr>
                <td class='col-giai'>G.2</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G2KH}}</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G2KT}}</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G2TTH}}</td>
            </tr>
            <tr>
                <td class='col-giai'>G.1</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G1KH}}</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G1KT}}</td>
                <td class='col_tinh_ket-qua_xsmn' style='font-size:30px;color:black;font-weight:bold;'>{{result.G1TTH}}</td>
            </tr>
            <tr>
                <td class='col-giai'>G.ĐB</td>
                <td
                    class='col_tinh_ket-qua_xsmn giai-dac-biet'
                    style='font-size:36px;color:#d32f2f;font-weight:bold;'
                >{{result.GDBKH}}</td>
                <td
                    class='col_tinh_ket-qua_xsmn giai-dac-biet'
                    style='font-size:36px;color:#d32f2f;font-weight:bold;'
                >{{result.GDBKT}}</td>
                <td
                    class='col_tinh_ket-qua_xsmn giai-dac-biet'
                    style='font-size:36px;color:#d32f2f;font-weight:bold;'
                >{{result.GDBTTH}}</td>
            </tr>
        </tbody>
    </table>
</div>

{{! LT - MT  }}
<div class='loto_container_mn'>
    <div class='loto_container_mn_tn'>
        <div class='loto_container_mn_tn_'>
            <p>Lô tô Khánh Hòa ngày {{result.date}}</p>
        </div>
        <table>
            <thead>
                <tr>
                    <th class='header-dau_mn'>Đầu</th>
                    <th class='header-loto_mn'>Lô tô</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>{{result.LT0KH}}</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>{{result.LT1KH}}</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{result.LT2KH}}</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{result.LT3KH}}</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{result.LT4KH}}</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>{{result.LT5KH}}</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>{{result.LT6KH}}</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>{{result.LT7KH}}</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>{{result.LT8KH}}</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>{{result.LT9KH}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class='loto_container_mn_tn'>
        <div class='loto_container_mn_tn_'>
            <p>Lô tô Kom Tum ngày {{result.date}}</p>
        </div>
        <table>
            <thead>
                <tr>
                    <th class='header-dau_mn'>Đầu</th>
                    <th class='header-loto_mn'>Lô tô</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>{{result.LT0KT}}</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>{{result.LT1KT}}</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{result.LT2KT}}</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{result.LT3KT}}</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{result.LT4KT}}</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>{{result.LT5KT}}</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>{{result.LT6KT}}</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>{{result.LT7KT}}</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>{{result.LT8KT}}</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>{{result.LT9KT}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class='loto_container_mn_tn'>
        <div class='loto_container_mn_tn_'>
            <p>Lô tô Huế ngày {{result.date}}</p>
        </div>
        <table>
            <thead>
                <tr>
                    <th class='header-dau_mn'>Đầu</th>
                    <th class='header-loto_mn'>Lô tô</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>{{result.LT0TTH}}</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>{{result.LT1TTH}}</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{result.LT2TTH}}</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{result.LT3TTH}}</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{result.LT4TTH}}</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>{{result.LT5TTH}}</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>{{result.LT6TTH}}</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>{{result.LT7TTH}}</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>{{result.LT8TTH}}</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>{{result.LT9TTH}}</td>
                </tr>
            </tbody>
        </table>
        <ul class='footer-links'>
            <li>Xem thống kê <a href='#'>Loto gan miền Trung</a></li>
            <li>Xem thống kê <a href='#'>Cặp loto cùng về miền Trung</a></li>
            <li>Tham khảo <a href='#'>Thống kê XSMT</a></li>
            <li>**KQXS** miền Trung
                {{result.date}}
                siêu tốc - chính xác, trực tiếp
                <a href='#'>**XSMT**</a>
                lúc 18h15 mỗi ngày</li>
        </ul>
    </div>
</div>



{{!-- //keno --}}
<div class="keno">
   
  <div class='keno1'>
       <p>Keno - Trực tiếp xổ số keno Viettlot<p>
    </div>
        <div class='keno2'>
       <a>{{result.pad_012}}</a>
    </div>
     <table>
        <tr>
            <td>{{get result.keno 0}}</td>
            <td>{{get result.keno 1}}</td>
            <td>{{get result.keno 2}}</td>
            <td>{{get result.keno 3}}</td>
            <td>{{get result.keno 4}}</td>
            <td>{{get result.keno 5}}</td>
            <td>{{get result.keno 6}}</td>
            <td>{{get result.keno 7}}</td>
            <td>{{get result.keno 8}}</td>
            <td>{{get result.keno 9}}</td>
             
        </tr>
        <tr>
            <td>{{get result.keno 10}}</td>
            <td>{{get result.keno 11}}</td>
            <td>{{get result.keno 12}}</td>
            <td>{{get result.keno 13}}</td>
            <td>{{get result.keno 14}}</td>
            <td>{{get result.keno 15}}</td>
            <td>{{get result.keno 16}}</td>
            <td>{{get result.keno 17}}</td>
            <td>{{get result.keno 18}}</td>
            <td>{{get result.keno 19}}</td>

            
        </tr>
        
    </table>
    <table>
        <tr>
            <td class = "kn_lon">Lớn</td>
            <td class = "kn_be">Bé</td>
            <td class="so1_kn">{{get result.td_text16 0}}</td>
            <td class="kn_hoachan">Hòa : <br> Chẵn - Lẻ</td>
             <td class="so2_kn">{{get result.td_text16 1}}</td>
        </tr>
    </table>
</div>