    <div class='max3d'>
    <div class='max3d-title'>
        <h4>Xổ số max 3d</h4>
        </div>
    <div class='breadcrumb3d' style="background-color: #F5F5F5;;">
       <td><p>{{get result.titlemax3d 0}}</p></td>
    </div>
        <div class='breadcrumb13d'>
       <p style="font-weight: bold; color: #F40819;">XS Max 3D >> Max 3D thứ Hai >> Max 3D {{result.date}}<p>
    </div>
    <table class='xs-table3d'>
<tbody>
            <tr class='prize-row'>
                <td class='label-col bg-#F5F5F5'>G1</td>
                <td style='font-size:40px;color:#F40819;font-weight:bold;background-color: #F5F5F5;;'>
                 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{get result.max3dg1 0}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg1 1}}</td>

            </tr>
            <tr class='prize-row'>
                <td class='label-col bg-white'>G.2</td>
                <td style='font-size:30px;color:black;font-weight:bold;'>
                     &nbsp; &nbsp;{{get result.max3dg24 0}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg24 1}} &nbsp; &nbsp; &nbsp; &nbsp;
                     &nbsp; &nbsp;{{get result.max3dg24 2}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg24 3}}
                </td>
            </tr>

            <tr class='prize-row'>
                <td class='label-col'>G.3</td>
                <td style='font-size:30px;color:black;font-weight:bold; background-color: #F5F5F5;;'>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{get result.max3dg24 15}}    &nbsp; &nbsp; &nbsp; &nbsp;{{get result.max3dg3 16}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg3 17}}<br>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{get result.max3dg3 18}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg3 19}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg3 20}}</td>
            </tr>
            <tr class='prize-row'>
                <td class='label-col bg-white'>KK</td>
                <td style='font-size:30px;color:black;font-weight:bold;'>
                     &nbsp; &nbsp;{{get result.max3dg24 4}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg24 5}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg24 6}} &nbsp; &nbsp; &nbsp; &nbsp;{{get result.max3dg24 7}}<br>
                     &nbsp; &nbsp;{{get result.max3dg24 8}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg24 9}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg24 10}} &nbsp; &nbsp; &nbsp; &nbsp;{{get result.max3dg24 11}}</td>
            </tr>
        </tbody>
    </table>
    <div style="width: 600px; height: 30px; border: 1px solid #CCCCCC;background-color: #F5F5F5;"><p style="padding: 5px;">Các chữ số trong số dự thưởng phải trùng khớp với kết quả theo đúng thứ tự</p></div>
</div>



{{!-- pro --}}
    <div class='max3d'>
    <div class='max3d-title'>
        <h4>Xổ số max 3D Pro</h4>
        </div>
    <div class='breadcrumb3d' style="background-color: #F5F5F5;">
       <td><p>{{get result.titlemax3d 1}}</p></td>
    </div>
        <div class='breadcrumb13d'>
       <p style="font-weight: bold; color: #F40819;background-color: white;">XS Max 3D >> Max 3D thứ Hai >> Max 3D {{result.date}}<p>
    </div>
    <table class='xs-table3d'>
<tbody>
            <tr class='prize-row'>
                <td class='label-col'>Đ.B</td>
                <td style='font-size:40px;color:#F40819;background-color: #F5F5F5;'>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{get result.max3dg1 0}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg1 1}}</td>

            </tr>
            <tr class='prize-row'>
                <td class='label-col bg-white'>G.1</td>
                <td style='font-size:30px;color:black;background-color: white;'>
                      &nbsp; &nbsp;{{get result.max3dg24 0}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg24 1}} &nbsp; &nbsp; &nbsp; &nbsp;
                      &nbsp; &nbsp;{{get result.max3dg24 2}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg24 3}}
                </td>
            </tr>

            <tr class='prize-row'>
                <td class='label-col'>G.2</td>
                <td style='font-size:30px;color:black;background-color: #F5F5F5;'>
                     &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;{{get result.max3dg24 15}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg3 16}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg3 17}}<br>
                     &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;{{get result.max3dg3 18}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg3 19}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg3 20}}</td>
            </tr>
            <tr class='prize-row'>
                <td class='label-col bg-white'>G.3</td>
                <td style='font-size:30px;color:black;'>
                     &nbsp; &nbsp;{{get result.max3dg24 4}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg24 5}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg24 6}} &nbsp; &nbsp; &nbsp; &nbsp;{{get result.max3dg24 7}}<br>
                     &nbsp; &nbsp;{{get result.max3dg24 8}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg24 9}} &nbsp; &nbsp; &nbsp; &nbsp; {{get result.max3dg24 10}} &nbsp; &nbsp; &nbsp; &nbsp;{{get result.max3dg24 11}}</td>
            </tr>
        </tbody>
    </table>
    <div style="width: 600px; height: 30px; border: 1px solid #CCCCCC;background-color: #F5F5F5;"><p style="padding: 5px;">Các chữ số trong số dự thưởng phải trùng khớp với kết quả theo đúng thứ tự</p></div>
    
</div>


<div class="w-[600px] border border-gray-200 " style="margin-top :20px;">

        <div class="bg-red-700 text-white font-bold text-xl p-2">
            Xổ số điện toán
        </div>

        <div class="border-b border-gray-200 p-3">
            <div class="text-sm font-semibold text-red-700 mb-2">
                Điện toán 6x36 <span class="text-black font-normal">Điện toán 6x36 Thứ Tư, {{ result.date }}</span>
            </div>
            <div class="flex flex-wrap gap-2 sm:gap-4 justify-start items-center">
                <div class="number-circle">06</div>
                <div class="number-circle">11</div>
                <div class="number-circle">20</div>
                <div class="number-circle">24</div>
                <div class="number-circle">26</div>
                <div class="number-circle">29</div>
            </div>
        </div>

        <div class="border-b border-gray-200 p-3">
            <div class="text-sm font-semibold text-red-700 mb-2">
                Điện toán 123 <span class="text-black font-normal">Điện toán 123 Thứ Tư, {{ result.date }}</span>
            </div>
            <div class="flex flex-wrap gap-2 sm:gap-4 justify-start items-center">
                <div class="number-circle">0</div>
                <div class="number-circle">39</div>
                <div class="number-circle">519</div>
            </div>
        </div>

        <div class="p-3">
            <div class="text-sm font-semibold text-red-700 mb-2">
                XS Thần tài <span class="text-black font-normal">XS Thần tài Thứ Tư, {{ result.date }}</span>
            </div>
            <div class="text-4xl font-extrabold text-blue-600">
                9312
            </div>
        </div>

    </div>